* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body::before {
  background: url("./images/bg-tablet-pattern.svg") no-repeat;
  position: absolute;
  height: 1100%;
  top: -100px;
  left: -10px;
  width: 100%;
  transform: rotate(0deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform-origin: left center;
  -moz-transform-origin: left center;
  -webkit-transform-origin: left center;
  content: "";
  z-index: -1;
} */

body {
  padding: 20px 0;
  padding-bottom: 0;
  position: relative;
  background-image: url("./images/bg-tablet-pattern.svg");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: top right;
}

/* styling for the navigation bar */
nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

div.header-menu {
  display: flex;
  justify-content: space-between;
  width: 45%;
}
div.header-menu a {
  text-decoration: none;
  color: hsl(233, 12%, 13%);
  font-size: 1em;
  font-family: "Be Vietnam Pro", sans-serif;
}

div.header-menu a:hover {
  color: hsl(227, 12%, 61%);
}

button {
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 12px;
  font-family: "Be Vietnam Pro", sans-serif;
  color: white;
  background: hsl(12, 88%, 59%);
  box-shadow: 1px 5px 5px -4px black;
  outline: none;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
button:hover {
  box-shadow: 1px 8px 5px -4px hsl(12, 88%, 59%);
}
button#hamburger {
  display: none;
}

/* styling for the main tag  */
main#top-section {
  width: 90%;
  margin: 60px auto;
  display: grid;
  grid-template-columns: auto;
  row-gap: 20px;
}
div.top-section {
  width: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
div.company-goal {
  padding: 80px 10px;
  width: 50%;
}
div.company-goal h1 {
  font-size: 70px;
  font-family: "Be Vietnam Pro", sans-serif;
}
div.company-goal p {
  font-size: 22px;
  width: 75%;
  color: grey;
  margin: 35px 0;
  font-family: "Be Vietnam Pro", sans-serif;
}
div.company-chart {
  width: 50%;
  /* height: 100%; */
}
div.company-chart img {
  width: 100%;
  height: 100%;
}

div.bottom-section {
  width: auto;
  display: flex;
  justify-content: space-between;
}
div.uniqueness {
  width: 50%;
}
div.uniqueness h1 {
  font-size: 45px;
  font-family: "Be Vietnam Pro", sans-serif;
}
div.uniqueness p {
  font-size: 22px;
  font-family: "Be Vietnam Pro", sans-serif;
  width: 70%;
  color: grey;
  margin: 35px 0;
}
div.features {
  width: 50%;
  padding: 10px;
}
div.list-features {
  display: grid;
  grid-template-columns: auto;
  margin: 10px 0;
}
div.list-headers {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 85%;
  gap: 5%;
}
div.list-headers > p {
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Be Vietnam Pro", sans-serif;
  color: white;
  background: hsl(12, 88%, 59%);
  text-align: center;
  outline: none;
  border: none;
}
div.list-headers > h3 {
  color: black;
  font-family: "Be Vietnam Pro", sans-serif;
  align-self: center;
}
div.features-detail {
  width: 85%;
  margin-left: 15%;
  margin-top: 10px;
}

div.features-detail > p {
  color: grey;
  margin-bottom: 50px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 20px;
}

/* the section reviews */
main#bottom-section {
  width: 100%;
  height: 100vh;
  /* padding: 30px 10px; */
  text-align: center;
  margin: 20px auto;
}
main#bottom-section h2 {
  color: black;
  font-family: "Be Vietnam Pro", sans-serif;
  margin-bottom: 150px;
}

/* Applying the scroll property would overlay on the positioned element */
div.comments {
  background: none;
  margin: 60px auto;
  /* overflow-x: scroll; */
  width: 100%;
  display: flex;
  gap: 10px;
}

/* can't take more with depending on the parent's width */
div.individual-comment {
  background: hsl(0, 0%, 98%);
  position: relative;
  width: 100%;
  padding: 10px;
  text-align: center;
}

div.individual-comment img {
  background: none;
  position: absolute;
  height: auto;
  width: 30%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
div.individual-comment h4 {
  color: black;
  font-size: 25px;
  font-family: "Be Vietnam Pro", sans-serif;
  margin: 60px auto 20px auto;
  width: auto;
}
div.individual-comment p {
  font-family: "Be Vietnam Pro", sans-serif;
  color: grey;
  font-size: 400;
  width: 100%;
  font-size: 22px;
}
main#bottom-section form {
  display: none;
  background: none;
  width: 20%;
  margin: 10px auto;
  padding: 10px 0;
}
main#bottom-section form input {
  accent-color: hsl(12, 88%, 59%);
  margin: 0 5px;
}

/* the footer of the page */

div.inspection {
  background: hsl(12, 88%, 59%);
  width: 100%;
  height: 25vh;
  padding: 35px 0;
}
div.inspection-views {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  height: auto;
}
div.inspection-views p {
  color: white;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 600;
  font-size: 30px;
  width: 30%;
}
div.inspection-views button {
  background: white;
  color: hsl(12, 88%, 59%);
  padding: 10px 20px;
  height: 70%;
  margin-top: 20px;
}
div.socials {
  background: hsl(233, 12%, 13%);
  position: relative;
  height: 30vh;
  width: 100%;
  padding: 35px;
}
div.social-block {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 20px auto;
  position: relative;
  height: auto;
}
div.social-block p {
  color: white;
  font-family: "Be Vietnam Pro", sans-serif;
  position: absolute;
  bottom: 0;
  right: 0;
  width: fit-content;
}

div.social-media {
  background: none;
  display: grid;
  row-gap: 60px;
  grid-template-columns: auto;
}
div.social-medium {
  display: flex;
  justify-content: space-between;
}

div.social-media > div.header-image > img {
  filter: opacity(0.4) drop-shadow(0 0 0 white);
}
div.social-medium a > img:hover {
  filter: opacity(0.4) drop-shadow(0 0 0 rgb(234, 13, 13));
}
div.in-menu-links {
  background: none;
  display: grid;
  grid-template-columns: auto auto;
  width: 30%;
  justify-content: space-between;
}
div.in-menu-links a {
  text-decoration: none;
  color: white;
  font-family: "Be Vietnam Pro", sans-serif;
}

div.footer-search {
  display: grid;
  row-gap: 60px;
  width: 25%;
}
div.footer-search input {
  padding: 10px 15px;
  outline: none;
  border: none;
  border-radius: 20px;
  width: 80%;
}
div.footer-search input:focus {
  color: hsl(12, 88%, 59%);
  outline: 1px solid hsl(12, 88%, 59%);
}

div.in-menu-links a:hover {
  color: hsl(12, 88%, 59%);
}

/* device width 0f range 500px */
@media only screen and (max-width: 500px) {
  div.header-menu,
  nav > button {
    display: none;
  }

  nav {
    width: 100%;
  }
  button#hamburger {
    display: block;
    background: none;
  }

  /* main query */
  main#top-section {
    width: 100%;
    margin: 0 auto;
    /* display: none; */
  }
  div.top-section {
    display: grid;
    margin-bottom: 100px;
    /* display: none; */
  }
  div.company-chart,
  div.company-goal {
    width: auto;
  }
  div.company-goal {
    text-align: center;
    padding: 10px;
  }
  div.company-goal h1 {
    font-size: 30px;
  }
  div.company-goal p {
    font-size: 16px;
    width: auto;
    color: grey;
    margin: 10px 0;
    text-align: center;
  }
  div.bottom-section {
    display: grid;
  }
  div.uniqueness {
    width: auto;
    text-align: center;
  }
  div.uniqueness h1 {
    font-size: 30px;
    margin: 0 auto;
    width: 90%;
  }
  div.uniqueness p {
    font-size: 16px;
    width: 95%;
    margin: 35px auto;
  }
  div.features {
    width: auto;
    padding-right: 0;
  }
  div.list-headers {
    background: hsl(13, 100%, 96%);
    border-radius: 20px 0 0 20px;
    grid-template-columns: 15% 80%;
    gap: 5%;
  }
  div.list-headers > p {
    font-weight: 500;
  }
  div.list-headers > h3 {
    font-size: 13px;
  }

  div.features-detail {
    width: 100%;
    margin-left: 0;
  }

  div.features-detail > p {
    font-size: 13px;
  }

  main#bottom-section {
    display: none;
  }
  main#bottom-section form {
    display: block;
    width: 50%;
  }

  footer {
    width: 100%;
    display: grid;
  }
  div.inspection {
    height: 55vh;
  }
  div.inspection-views {
    display: grid;
    row-gap: 30px;
    justify-items: center;
    text-align: center;
  }
  div.inspection-views p {
    width: 80%;
  }
  div.socials {
    height: 80vh;
  }
  div.social-block {
    display: grid;
    grid-template-columns: auto;
    row-gap: 30px;
    height: auto;
    justify-content: normal;
  }
  div.social-block p {
    /* bottom: 0; */
    font-size: 13px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  div.footer-search {
    display: flex;
    width: 100%;
  }
  div.footer-search form {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  div.footer-search input {
    padding: 12px 25px;
    width: 70%;
  }
  div.footer-search button {
    padding: 12px;
    font-size: 14px;
    width: 25%;
  }

  div.in-menu-links {
    width: 85%;
    row-gap: 20px;
    margin: 0 auto;
  }
  div.social-media {
    width: 100%;
    margin: 50px auto;
    row-gap: 50px;
  }
  div.social-media div.header-image {
    text-align: center;
    height: auto;
  }
  div.social-media > div.header-image > img {
    height: 5vh;
  }
  div.social-medium {
    /* grid-column-start: 1; */
    grid-row-start: 1;
  }
  div.social-medium a {
    width: 100%;
    text-align: center;
  }
  div.social-medium a > img {
    width: 55%;
  }
}
